body {
  background-color: #a8a8a8;
}
p {
  color: pink;

}
h1 {
  color: green;
  font-family: cursive;
  font-size: 60px;
  text-align: center;
}
h5 {
  background-color: black;
}
.one {
  color: black;
}
.two {
  color: green;
  background-color: black;
}
ul {
  list-style-type: square;
}
#stressImg {
  height: 10%%;
  width: 20%;
}

#aboutMeBodyTag {
  background-image: url("galaxy.jpg");
}
.space {
  background-color: black;
  padding: 25px 50px 50px 80px;
  border:10px solid green;
  margin: 50px
}

.button {
  display: square;
  height: 30%
  background-color: green;
  border: 10px solid green;
  text-align: center;
  font-size: 35px;
  color: black;
}
.myForm {
  
}
